.form {
 position: relative;
 display: flex;
 justify-content: space-between;
 font-size: 1.1em;
 min-height: 446px;
}

.group_1,
.group_2 {
 flex: 1 0 150px;
 margin-right: 9%;
}

.group_2 {
 margin-top: -17px;
}

.buttons {
 align-self: flex-end;
}

.buttons button:nth-child(1) {
 margin-right: 10px;
}

.form h2 {
 font-size: 1.2em;
 margin: 20px 0 10px;
}

.l_title {
 display: block;
 font-weight: 500;
 margin: 10px 0 5px;
}

.tags_title {
 margin-top: 0;
}

.status label {
 display: flex;
 align-items: center;
 line-height: 2em;
}

.status span {
 margin: 0;
}

.status input {
 margin: 0 10px 2px 0;
}

input[type="text"],
textarea {
 width: 100%;
 padding: 10px;
 min-height: 50px;
 box-sizing: border-box;
 border-radius: 0;
 border: 1px solid #e3e3e3;
 cursor: text;
}

input[type="text"]:focus,
textarea:focus,
button:focus {
 outline: 2px solid #82cff0;
 /* border-color: blue; */
}

input[type="checkbox"],
input[type="radio"],
label {
 cursor: pointer;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
 outline: none;
}

.form button {
 min-height: 50px;
}

.add_elem {
 display: flex;
}

.add_elem input,
.add_elem button {
 height: 40px;
 box-sizing: border-box;
}

.add_elem button {
 border-left: none;
 border: 1px solid #e3e3e3;
}

.add_elem input {
 padding: 10px;
}

.subtasks_list .task,
.tag_list label {
 display: flex;
 align-items: center;
 padding: 5px;
 margin: 5px 0;
 border: 1px solid rgba(255, 255, 255, 0.2);
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 background-color: rgba(255, 255, 255, 0.158);

 user-select: none;
}

.subtasks_list label {
 display: flex;
 align-items: center;
 margin-right: 5px;
}

.subtasks_list span,
.tag_list span {
 margin: 0 0 0 8px;
 font-size: 1.03em;
 text-transform: capitalize;
}

.subtasks_list button {
 height: unset;
 min-height: unset;
 padding: 5px;
 margin: 0 0 0 auto;
}

.pending {
 position: absolute;
 bottom: 60px;
 right: 0;
}

.status label {
 padding-left: 10px;
 border: 1px solid #343e77;
 height: 45px;
 margin-bottom: -1px;

 border: 1px solid #424b53;
 box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
 z-index: 10;
}

.status label:has(input:checked) {
 position: relative;
 background-color: rgba(255, 255, 255, 0.158);
 border-color: #8e9399;
 z-index: 100;
}